.row{
    overflow: hidden;
}
.column-2{
    float:left; width: 50%;
}
.column-1{
    width: 100%;
}

body{
    background-image: url('../resources/ts-city-small.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.reveal *:not(pre)>code{
    background-color: #efefef;
}
